.notifications{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.notification{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}