.btn-grp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
 
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: max-content;
    height: 5vh;
    border-radius: 14px;
    margin: 0px 6px;
    margin-top: 11px;
    display: flex;
    border: 2px solid #e42a2a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
}
 
.btn-one {
    background-color: #e42a2a;
}