.wrapper{
    width: 100%;
    height: 100%;
    padding: 100px;
}

.wrapper__inner{
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #1c1a42;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 12px 12px 0;
    padding: 100px;
    justify-content: space-between;
}

.task{
    display: flex;
}

.task button{
    font-size: 30px;
    padding: 0 27px !important;
    right: 0;
    margin-left: 10px;
}

.accordion{
    width: 100%;
}

.accordion span{
    width: 100%;
}

.task__quickinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__deadline{
    width: max-content;
}

.suggestionInfo{
    display: flex;
    flex-direction: column;
}